.container {
  background-color: #ffc0cb;
  border: 1px solid black;
}

[class^="col"] {
  border: 1px solid black;
  text-align: center;
  padding: 3rem 0rem;
}

.col_2_nested {
  padding-left: 1rem;
  padding-right: 1rem;
}
