.container {
  background-color: #ffc0cb;
  border: 1px solid black;
}

[class^="col"] {
  border: 1px solid black;
  text-align: center;
}

.col_1,
.col_12,
.col_8,
.col_2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.col_6 {
  justify-content: center;
  align-items: center;
}

.col_2_nested,
.col_6_nested,
.col_8_nested {
  background-color: #f07f80;
  border: 1px solid white;
  text-align: center;
  margin-left: 1px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
}
